<div class="container">
  <h1>Create Trainer</h1>
  <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
    <fieldset>
      <label class="form-lable" for="name">Name</label>
      <input class="form-control " type="text" id="name" name="name" ngModel #name="ngModel" required
        placeholder="insert name here" />
    </fieldset>
    <input type="text" name="array[]" value="" /><br>
    <br>
    <button class="btn btn-danger">Cancel</button>&nbsp;
    <button type="submit" [disabled]="createForm.invalid" class="btn btn-primary">Create User Name</button>
    <p>{{createForm.valid}}</p>
  </form>
</div>
